{% extends 'base.html.twig' %} {% block title %}Product index{% endblock %} {% block body %}
<h1>{{ 'product.title'|trans }}</h1>
<div class="products">

    {% for product in products %}
    <div class="card-product">

        <h2 class="card-product--title">{{ product.name }}</h2>

        <img class="card-product--img" src="images/products/{{product.image}}" width="100" height="100" />

        <div class="card-product--description">
            {{ product.description|raw }}
        </div>

        <p class="card-product--price">{{ product.price }} €</p>
        {#
        <p>{{ product.stock }}</p> #}

        <a class="card-product--plus" href="{{ path('app_product_show', {'id': product.id}) }}">{{'product.learn_more'|trans}}</a>
    </div>

    {% else %}
    <p>no records found</p>

    {% endfor %} {# <a href="{{ path('app_product_new') }}">Create new</a> #}
</div>
{% endblock %}