{% extends 'base.html.twig' %} {% block title %}{{'product.product'|trans}}{% endblock %} {% block body %}
<h1>{{'product.product_details'|trans}}</h1>

<a class="back" href="{{ path('app_product_index') }}">&lsaquo; {{'product.back_to_products'|trans}}</a>

<div class="product-infos">
    <div class="product-infos-top">
        <h2>{{ product.name }}</h2>
    </div>

    <div class="product-infos-left">
        <img class="product-infos-left--img" src="images/products/{{product.image}}" width="100" height="100" />
    </div>

    <div class="product-infos-right">
        <div class="product-infos-right--top">
            <div class="product-infos-right--description">
                {{ product.description|raw }}
            </div>

        </div>
        <div class="product-infos-right--bottom">
            <p class="product-infos-right--bottom--stock">{{'product.available_stock'|trans}} : {{ product.stock }}</p>

            <div class="card-product--price">
                {{ product.price }} €
            </div>

            <form method="post" action="{{ path('cart_content_add', {'productId': product.id}) }}">
                <input type="hidden" name="quantity" value="1">
                {% if app.user %}
                    <button class="card-product--plus" type="submit" class="btn btn-primary">{{'product.add_to_cart'|trans}}</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>



{% endblock %}